################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Chat/FileContentIndex/6514042c-ca81-4505-bd35-7da5d7bca9d4.vsidx
/.vs/Chat/FileContentIndex/e4772f2d-e269-4f32-891d-284ba3c74a69.vsidx
/.vs/Chat/FileContentIndex/12253f84-a156-4418-b2f0-30973c72d46f.vsidx
/.vs/Chat/DesignTimeBuild/.dtbcache.v2
